/* Set padding to keep content from hitting the edges
.body-content {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

* {
  margin: 5px;
}

.dl-horizontal dt {
  white-space: normal;
}


input,
select,
textarea {
  max-width: 280px;
} */

.navbar {
  padding: 20px; /* Adjust the padding as needed */
}

.navbar-brand {
  font-size: 24px; /* Adjust the font size as needed */
  cursor: none;
}

.mb-3 {
  text-align: right;
}

.navbar-nav .nav-link:hover {
  color: #fff; /* Change the text color on hover */
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Add a background color on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}

/* .navbar-nav .nav-link.active {
  border-bottom: 2px solid #fff;
  position: relative;
  margin-bottom: -2px; 
} */

.title {
  text-align: center;
  font-weight: 700;
  /* font-family: "Cambria Math"; */
}

.field-validation-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}

.input-validation-error {
  border-color: var(--bs-form-invalid-border-color);
}

.field-validation-success {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-valid-color);
}

.input-validation-success {
  border-color: var(--bs-form-valid-border-color);
}

.btn {
  text-transform: none;
  text-decoration: none;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  gap: 7px;
}

.note {
  color: var(--bs-form-invalid-color);
}

.form {
  display: flex;
  justify-content: center;
}

/* .table {
  width: max-content;
} */

#dataDiv {
  /* width: 70%; */
  text-align: center;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.btns {
  justify-content: center;
}

.container {
  padding: 0;
}

#searchDiv {
  align-items: center;
}

#pageControlForm {
  display: flex;
  justify-content: space-between;
}

#pageControlForm .form-control,
#pageControlForm .form-select {
  width: auto;
}

* {
  box-sizing: border-box;
}
.pagination {
  display: inline-block;
}
.pagination a {
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
}
.pagination a.active {
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.center {
  text-align: center;
}

.pagination a:nth-child(1),
.pagination a:nth-last-child(1) {
  cursor: pointer;
  color: #ddd;
}
